

.circular-avatar img, .circular-avatar-small img, .circular-avatar-tiny img {
  width: calc( 100% + 2px);
  margin: auto;
  vertical-align: middle;
}
.circular-avatar:before, .circular-avatar-small:before, .circular-avatar-tiny:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.circular-avatar, .circular-avatar-small, .circular-avatar-tiny {
  display: inline-block;
  vertical-align: middle;
    white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

.circular-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.circular-avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.circular-avatar-tiny {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.idcard{
  width: 400px;
  overflow: hidden;
}
.idcard > div{
  background-color: white;
}