
.avatar{
  width: 100%;
}

.circular-avatar img, .circular-avatar-small img, .circular-avatar-tiny img {
  width: calc( 100% + 2px);
  margin: auto;
  vertical-align: middle;
}
.circular-avatar:before, .circular-avatar-small:before, .circular-avatar-tiny:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.circular-avatar, .circular-avatar-small, .circular-avatar-tiny {
  display: inline-block;
  vertical-align: middle;
    white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

.circular-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.circular-avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.circular-avatar-tiny {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.verthelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.idcard{
  /*float: left;*/
  overflow: hidden;
  height: 100%;
  width: 250px;
  max-width: 250px;
  margin-bottom: 5px;
}

.idcard > div{
  margin: 0px;
  padding: 4px;
  max-width: 400px;
  max-height: 100px;
  background-color: #ddd;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.ember-power-select-option[aria-current="true"] .well{ /*HACK if needed */
  color: #777;
}
.idcard > div > div{
  height: 100%;
}
.idcard > div > .picture{
  float: left;
  padding: 10px;
}
.idcard > div > .details{
  font-size: 8pt;
  padding-top: 10px;
  overflow: hidden;
}
.idcard > div > .details p{
  font-size: 8pt;
  margin-bottom: 5px;
}
table > tbody > tr > th {
  text-align: right;
}
table td, table th, table td * {
    vertical-align: top;
}
th.th-20{
  width: 20%;
}
td.td-80{
  width: 80%;
}

a.btn-action{
  font-size: 10pt;
  margin-top: 5px;
  /*background-color: #ddd;
  display: inline-block;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;*/

}

a.btn-save{
  color: #008b00;
}

a.btn-cancel{
  color: #8b0000;

}

.editable-field {
  position: relative;
}
.editable-field a.btn-edit{
  position: absolute;
  right: 5px;
  top: -5px;
}

select.plain-select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    /* needed for Firefox: */
    overflow:hidden;
    /*width: 120%;*/
    background-color: transparent;
    text-align: right;
    direction:rtl;
}
select.plain-select:after {
    content: "dfds";
    font-family: FontAwesome;
}

.ember-power-select-options{
  max-height: 30em;
}

.map-icon img{
  width: 20px;
  height: 20px;
}

.fullmap, .g-map{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.g-map-canvas {
  /*position: absolute;*/
  /*left:0;*/
  /*top:0;*/
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  height: 100%;
}
.map-preview img{
  width: 100%;
  height: 100%
}
.map-preview{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
/*==================================================
 * Effect 2
 * ===============================================*/
.map-preview
{
  position: relative;
  margin-bottom: 30px;
}
.map-preview:before, .map-preview:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.map-preview:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
