<h2>Live Shots</h2>
<div class="col-md-2">
<ul class="list-unstyled">
  {{#each model as |live-shot|}}
    <li>{{#link-to "live-shots.live-shot" live-shot }} {{live-shot.title}} {{/link-to}}</li>
  {{/each}}
    <li>{{#link-to "live-shots.new"}} +New Live Shot {{/link-to}}</li>
</ul>
</div>
<div class="col-md-9">
  {{!-- LiveShot --}}
  {{outlet}}
</div>
<div class="col-md-1">
</div>
