<h2>List of vehicles</h2> 
<div class="col-md-3">
<ul>
  {{#each model key="id" as |vehicle|}}
    <li>{{#link-to "vehicles.vehicle" vehicle.id}} {{vehicle.name}} {{/link-to}}</li>
  {{/each}}
</ul>
</div>
<div class="col-md-9">
  {{!-- LiveShot --}}
  {{outlet}}
</div>