<h2>Receivers</h2>
<div class="col-md-3">
<ul>
  {{#each model key="id" as |receiver|}}
    <li>{{#link-to "receivers.receiver" receiver.id}} {{receiver.name}} {{/link-to}}</li>
  {{/each}}
  <li>{{#link-to "receivers.new"}} +New Receiver {{/link-to}}</li>
</ul>
</div>
<div class="col-md-9">
  {{!-- LiveShot --}}
  {{outlet}}
</div>
