<h2>List of vehicles</h2>
<div class="col-md-3">
<ul>
  {{#each model key="id" as |vehicle|}}
    <li>{{#link-to "vehicles.vehicle" vehicle.id}} {{vehicle.name}} {{/link-to}}</li>
  {{/each}}
    <li>{{#link-to "vehicles.new"}} +New Vehicle {{/link-to}}</li>
</ul>
</div>
<div class="col-md-9">
  {{outlet}}
</div>
